<!DOCTYPE HTML>
<html>

<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

   <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">

    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="jdrupal.min.js"></script>
    <script src="components/loader.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/onsenui/js/onsenui.min.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
    <script>
        ons.platform.select('android');
    </script>

    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsenui/css/old-onsen-css-components.css">


   <!-- <script type="text/javascript" src="cordova-js/src/cordova.js"></script>-->
  <!--  <script type="text/javascript" src="cordova.js"></script>-->

    <!-- jQuery Mobile -->
    <!-- <link rel="jquery_mobile/stylesheet" href="jquery.mobile-1.4.5.min.css" />
   <script src="jquery_mobile/jquery-1.9.1.min.js"></script> 
    <script src="jquery_mobile/jquery.mobile-1.4.5.min.js"></script>-->

   <!-- Google Maps async defer -->
 
    
<!--
    <link rel="stylesheet" href="https://cdn.dhtmlx.com/edge/dhtmlx.css" type="text/css">
    <script src="https://cdn.dhtmlx.com/edge/dhtmlx.js" type="text/javascript"></script> -->
    <link rel="stylesheet" type="text/css" href="dhtmlx/codebase/fonts/font_roboto/roboto.css" />
    <link rel="stylesheet" type="text/css" href="dhtmlx/codebase/dhtmlx.css" />
    <script type="text/javascript" src="dhtmlx/codebase/dhtmlx.js"></script>

    <script src="dhtmlx/dhtmlxScheduler/codebase/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="dhtmlx/dhtmlxScheduler/codebase/dhtmlxscheduler.css" type="text/css" charset="utf-8">
  <!--      <script src="dhtmlx/dhtmlxScheduler/codebase/sources/locale/locale_fr.js" charset="utf-8"></script> -->

  <script>
		dhtmlXCalendarObject.prototype.langData["de"] = {
			dateformat: '%d.%m.%Y',
			monthesFNames: ["Januar","Februar","März","April","Mai","Juni","Juli","August","September","Oktober","November","Dezember"],
			monthesSNames: ["Jan","Feb","Mär","Apr","Mai","Jun","Jul","Aug","Sep","Okt","Nov","Dez"],
			daysFNames: ["Sonntag","Montag","Dienstag","Mittwoch","Donnerstag","Freitag","Samstag"],
			daysSNames: ["So","Mo","Di","Mi","Do","Fr","Sa"],
			weekstart: 1,
			weekname: "w",
			today: "Heute",
			clear: "Reinigen"
		}
		dhtmlXCalendarObject.prototype.langData["ru"] = {
			dateformat: '%d.%m.%Y',
			monthesFNames: ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"],
			monthesSNames: ["Янв","Фев","Мар","Апр","Май","Июн","Июл","Авг","Сен","Окт","Ноя","Дек"],
			daysFNames: ["Воскресенье","Понедельник","Вторник","Среда","Четверг","Пятница","Суббота"],
			daysSNames: ["Вс","Пн","Вт","Ср","Чт","Пт","Сб"],
			weekstart: 1,
			weekname: "н",
			today: "Сегодня",
			clear: "Очистить"
		}
		dhtmlXCalendarObject.prototype.langData["fr"] = {
			dateformat: '%d.%m.%Y',
			monthesFNames: ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"],
			monthesSNames: ["Jav","Fév","Mar","Avr","Mai","Jun","Jul","Aoû","Sep","Oct","Nov","Déc"],
			daysFNames: ["Dimanche","Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi"],
			daysSNames: ["Di","Lu","Ma","Me","Je","Ve","Sa"],
			weekstart: 1,
			weekname: "s",
			today: "Aujourd'hui",
			clear: "Effacer"
		}
		dhtmlXCalendarObject.prototype.langData["es"] = {
			dateformat: '%d.%m.%Y',
			monthesFNames: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],
			monthesSNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dec"],
			daysFNames: ["Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado"],
			daysSNames: ["Do","Lu","Ma","Mi","Ju","Vi","Sá"],
			weekstart: 1,
			weekname: "s",
			today: "Hoy",
			clear: "Borrar"
		}		
	</script>
    <!-- Terrace skin -->
    <link rel="stylesheet" href="dhtmlx/dhtmlxScheduler/codebase/dhtmlxscheduler.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="dhtmlx/skins/terrace/dhtmlx.css" />
    
    
       <script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUWxLyE7XIZBWbUiwziKI6_fx65pl7wLk&libraries=places,geometry"></script>
    <!-- Load jDrupal and configure its settings -->

    <script type="text/javascript" src="modules/localize.js"></script>
    <script type="text/javascript" src="modules/googleMapStyles.js"></script>
    <script type="text/javascript" src="modules/dancedose.min.js"></script>

    <!-- DD Modules 
    <script type="text/javascript" src="modules/googleMapStyles.js"></script>
    <script type="text/javascript" src="modules/dd_localize.js"></script>
    <script type="text/javascript" src="modules/dd_init.js"></script>
    <script type="text/javascript" src="modules/dd_filters_module.js"></script>
    <script type="text/javascript" src="modules/dd_node_module.js"></script>
    <script type="text/javascript" src="modules/dd_gmap_module.js"></script>
    <script type="text/javascript" src="modules/dd_auth_module.js"></script>
    <script type="text/javascript" src="modules/dd_googleFunctions.js"></script> 
    <script type="text/javascript" src="modules/dd_social_auth.js"></script> 
    -->  
    
 
    <script>
         
    </script>


    <!-- <script type="text/javascript"  src="OpenFB/opepnfb.js"></script>-->

    <!-- Quick info extension -->
    <!--	<script src="dhtmlx/dhtmlxScheduler/codebase/ext/dhtmlxscheduler_quick_info.js" type="text/javascript" charset="utf-8"></script> 
    <script src="dhtmlx/dhtmlxScheduler/codebase/ext/dhtmlxscheduler_expand.js" type="text/javascript" charset="utf-8"></script>-->


</head>

<body onload="">

    <ons-splitter ng-controller="AppController as app" var="splitter" id="app_splitter">
        <ons-splitter-side side="left" width="260px" collapse  >
            <ons-page>
                <ons-list>
                    <ons-list-item>
                        <ons-card>

                            <img id="user_pic" src="css/swing_white.png" alt="Swing dose" style="width: 100%">

                        </ons-card>
                    </ons-list-item>

                    <ons-list-item>

                        <div style="text-align: center; margin-top: 30px; display: none;" id="user_login_form">
                            <p>
                                <ons-input id="name" modifier="underbar" placeholder="Username" float></ons-input>
                            </p>
                            <p>
                                <ons-input id="pass" modifier="underbar" type="password" placeholder="Password" float></ons-input>
                            </p>
                            <p style="margin-top: 30px;">
                                <ons-button onclick="login_click()"><ons-icon icon="fa-icon-signin"></ons-icon>&nbsp;<span id="signin">Sign in</span></ons-button>
                                <ons-button onclick="register_form();" >
                                     <ons-icon icon="fa-icon-plus"></ons-icon>&nbsp;<span id="signup" >Sign up</span>
                                </ons-button>  
                               
                            </p>
                         <!--   <div class="fb-login-button" data-width="80" data-max-rows="1" data-size="small" scope="public_profile,email" onlogin=" checkLoginStateF();  "
                            data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                            <fb:login-button scope="public_profile,email" onlogin="checkLoginStateF();">
                            </fb:login-button>
                           <ons-button data-width="80" scope="public_profile,email" onclick="checkLoginStateF();">Facebook Login</ons-button >
                            <ons-button data-width="80" scope="public_profile,email" onclick="checkLoginStateG();">Google Login</ons-button >-->
                        </div>

                        <div id="user_dashboard" style="display: none;">
                         <ons-list>
                            <p id="user_welcome"></p>
                            <ons-list-item tappable ontouchend="logout_click()">
                           <ons-icon icon="fa-sign-out" />&nbsp;<span id="signout" style="color:blue">Sign out</span>
                            </ons-list-item>
                            </ons-list>
                        </div>
                         

                    </ons-list-item>

                <ons-list-item>
                     
                     <ons-input id="search_address" placeholder="Search address" float class="form-group" transparent flat></ons-input>

                 </ons-list-item>
               
                <!-- 
                    <ons-list-item>
                        
                        <ons-select style='width:200px;'  id="search_styles" name="alfa1" float class="form-group"  >
                       
                        </ons-select>
                        
                        <div id="user_styles_list"  style='width:200px;' class="list_demo_samples"></div>
                  

                 </ons-list-item>
                -->
                    
               

                    <ons-list-item id="user_styles">
                        <ons-list id="user_styles_list" >
                        </ons-list>
                </ons-list-item>
                
                   
                     <ons-list-item>
                         
                      <ons-button  id="add_button" onclick="nodeLoad(true);" >
                        <ons-icon icon="md-file-plus"></ons-icon>&nbsp;<span id="addevent">Add a new event!</span>
                     </ons-button>  
                     
                 </ons-list-item>
                 
                 
                 
                 
                </ons-list>
            </ons-page>

        </ons-splitter-side>

        <!--<ons-splitter-content page="about_page"></ons-splitter-content>
    -->
           <ons-alert-dialog cancelable id="dd_dialog_custom">
              <div style="text-align: center"  id="dd_dialog_inner">
               
            </div>
   
       </ons-alert-dialog>
      
        <ons-modal direction="up" id="dd_modal_event" >
          
        </ons-modal>
        <ons-modal direction="up" id="dd_modal" >
          
        </ons-modal>
        <ons-modal direction="up" id="dd_modal_custom">
            <div style="text-align: center"  id="dd_modal_text">
               
            </div>
        </ons-modal>
      
        <ons-modal direction="up" id="dd_modal_save">
            <div style="text-align: center"  >
                <p>
                    <ons-icon icon="md-spinner" size="28px" spin></ons-icon><span id="saving">Saving...</span>
                </p>
            </div>
        </ons-modal>
         <ons-modal direction="up" id="dd_modal_load">
            <div style="text-align: center"  >
                <p>
                    <ons-icon icon="md-spinner" size="28px" spin></ons-icon><span id="loading">Loading...</span>
                </p>
            </div>
        </ons-modal>
         <ons-modal direction="up" id="dd_modal_delete">
            <div style="text-align: center"  >
                <p>
                    <ons-icon icon="md-spinner" size="28px" spin></ons-icon><span id="deleting">Deleting...</span>
                </p>
            </div>
        </ons-modal>
       <ons-navigator id="onsNavigator" animation="lift">

        <ons-page ng-controller="AppController as app">


            <!--<ons-toolbar modifier="cover-content  transparent">

                <div class="left">
                    <ons-toolbar-button ng-click="app.toggle()">
                        <ons-icon icon="md-menu"></ons-icon>
                    </ons-toolbar-button>
                </div>

                <div class="center">
                    {{app.title}}
                </div>
                 <div class="right" onclick="start_auth();">
                    <ons-toolbar-button>
                        <ons-icon icon="md-refresh"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="right"  id="add_button" onclick="nodeAdd();">
                    <ons-toolbar-button>
                        <ons-icon icon="md-plus"></ons-icon>
                    </ons-toolbar-button>
                 </div>
            </ons-toolbar>-->
            
               <ons-fab position="top left" style="top:10px; left:10px;" ng-click="app.toggle()" modifier="mini">
                        <ons-icon icon="md-menu"></ons-icon>
               </ons-fab>
                 <ons-speed-dial  direction="down" >
                        <ons-fab style="vertical-align: center; font-size:18px; left:55px; top:10px" modifier="mini">
                               <ons-icon icon="fa-magic"></ons-icon>
                        </ons-fab>
                        <div  id = "event_type_speed_dial" ></div>
              
                </ons-speed-dial>
             
            <ons-tabbar position="bottom" animation="slide" id="tabbar">
                <ons-tab page="map_page.html" label="" icon="map" onclick="resizeMap()" active></ons-tab>
                <!--  <ons-tab page="list_page" label="" icon="list" onclick =""></ons-tab>-->
                <ons-tab page="scheduler_page.html" label="" icon="calendar" onclick="resizeScheduler()"></ons-tab>
              <!-- <ons-tab page="event_page" label="" icon="eye" onclick="nodeLoad();  "></ons-tab>  -->

            </ons-tabbar>


        </ons-page>
      </ons-navigator>

    </ons-splitter>
  
    <ons-template id="map_page.html">
               
        <ons-page ons-show="app.title = 'Map'">

            <ons-fab style="vertical-align: center; width:120px; height:40px; border-radius:10px; font-size:18px; top:10px; margin-left:-60px; " modifier="mini" position="top center" onclick="showCalendar(this)"
                id="calendar_fab">
                <ons-icon icon="md-calendar"></ons-icon>
                <span id="datepicker">  </span>

            </ons-fab>
          <ons-fab  style="  right:55px; top:10px"  onclick="getEventViews()" position="top right"  modifier="mini">
                        <ons-icon icon="ion-search" ></ons-icon>
               </ons-fab>           
         <ons-fab   style=" right:10px; top:10px" onclick="getMyPosition()" position="top right"  modifier="mini" >
                        <ons-icon icon="md-my-location"  >  </ons-icon>
               </ons-fab> 
            <ons-modal mask-color="rgba(40,40,40,0.8)" direction="left" id="popover_calendar">
                 <div id="calendar_here"></div>  
                <div style="padding: 10px; text-align: center;"> 
                               </div>
            </ons-modal>

            <div class="content" style="text-align: center" id="mapcanvas">

            </div>
        </ons-page>
    </ons-template>r

     <ons-template id="new_user_page.html">
        <ons-page id="new_user_page" ons-show="app.title = 'User'">
           

            <div class="content" id="user_add" style="background:url('css/bg_photo.jpg')">
                <ons-card>
                    <ons-list>
                      <!--  <ons-fab class="submit-fab" position="top left" modifier="mini"  style=" right:10px; top:10px;" onclick="onsNavigator.popPage()"  >
                            <ons-icon icon="arrow-left"  >
                        </ons-icon></ons-fab>  -->
                         <ons-list-header id="input_user_header">New user</ons-list-header>
                         <ons-list-item tappable>
                             <ons-input id="input_user_name" placeholder="username" float class="form-group"  ></ons-input>
                         </ons-list-item>
                         <ons-list-item tappable>
                             <ons-input id="input_user_password" placeholder="password" type="password" float class="form-group" ></ons-input>
                         </ons-list-item>
                         <ons-list-item tappable>
                             <ons-input id="input_user_email" placeholder="email" float class="form-group" ></ons-input>
                         </ons-list-item>
                         <ons-list-item >
                             <ons-button onclick="register()"><span id="signup_validate">Sign up</span></ons-button>&nbsp;
                             <ons-button onclick="onsNavigator.popPage()"><span id="signup_cancel">Cancel</span></ons-button>
                            
                        </ons-list-item>
                         <div class="left">
                                <ons-back-button  >
                                     <ons-icon icon="md-icon-cancel"></ons-icon>&nbsp;Cancel
                                </ons-back-button>  
                                </div>

                    </ons-list>
                </ons-card>    
            </div>
            
        </ons-page>
    </ons-template>

    <ons-template id="list_page.html">
        <ons-page ons-show="app.title = 'List'">
            

            <ons-list id="events_list">

            </ons-list>

        </ons-page>
    </ons-template>

    <ons-template id="new_event_page.html">
        <ons-page id="new_event_page" ons-show="app.title = 'Event'">

            <div class="content" id="node_add" style="background:url('css/bg_photo.jpg')">
                Add
            </div>
        </ons-page>
    </ons-template>
    
    <ons-template id="edit_event_page.html">
        <ons-page id="edit_event_page" ons-show="app.title = 'Event'">
           
            <div class="content" id="node_edit" style="background:url('css/bg_photo.jpg')">
                Edit
            </div>
        </ons-page>
    </ons-template>
    
     <ons-template id="list_events_page.html">
        <ons-page id="list_events_page" ons-show="app.title = 'Event'">
          
            <div class="content" id="list_events" style="background:url('css/bg_photo.jpg')">
                List
            </div>
        </ons-page>

    </ons-template>

    <ons-template id="scheduler_page.html">
        <ons-page ons-show="app.title = 'Calendar'">
      
   
            
            <div class="content" style="text-align: center">
                <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%; overflow:hidden;'>
                    <div class="dhx_cal_navline">
                        <div class="dhx_cal_prev_button">&nbsp;</div>
                        <div class="dhx_cal_next_button">&nbsp;</div>
                        <!-- 	<div class="dhx_cal_today_button"></div>-->
                        <div class="dhx_cal_date"></div>
                        <!-- 	<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
		        	<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
		        	<div class="dhx_cal_tab" name="month_tab" style="left:10px;"></div>-->
                    </div>
                    <div class="dhx_cal_header">
                    </div>
                    <div class="dhx_cal_data">
                    </div>
                </div>

            </div>
        </ons-page>
    </ons-template>
                    
</body>

</html>