.button--material--flat .ripple__wave, .button--material--flat .ripple__background{
  background: rgba(241,98,98, 0.3);  /* #2a266a; rgba(42,38,106, 0.3); =>  #29294d rgba(41,41,77, 0.3); => #F16262*/   
}
.switch--material__toggle {
  background-color: #F1BCBC;    
}
.switch--material__handle {
  background-color: #F19E9E;
}
:checked + .switch--material__toggle {
  background-color: #F19595;    /*#843234*/  
}
:checked + .switch--material__toggle > .switch--material__handle {
  background-color:  #F16262;
  
}
:checked + .switch--material__toggle > .switch--active__handle:before {
  box-shadow: 0 0 0 14px alpha(#F16262, 0.2);
}
.range--material {
  background-image: -webkit-linear-gradient(#F1BCBC, #F1BCBC);
  background-image: linear-gradient(#F1BCBC, #F1BCBC);
}
.range--material__input {
  background-image: -webkit-linear-gradient(#F16262, #F16262);
  background-image: linear-gradient(#F16262, #F16262);
}

.range--material__input::-webkit-slider-thumb {

  background-image: -webkit-radial-gradient(circle cover, #F16262 0%, #F16262 6.6px, transparent 7.2px);
  background-image: radial-gradient(circle cover, #F16262 0%, #F16262 6.6px, transparent 7.2px);

}

.range--material__input::-moz-range-thumb,
.range--material__input:focus::-moz-range-thumb {
  background-image: -moz-radial-gradient(circle cover, #F16262 0%, #F16262 6.6px, transparent 7.2px);
}

.range--material__input::-ms-thumb {
  border-color: #F16262;
  background-color: #F16262;
}

.range--material__input::-ms-fill-lower {
  background-color: #F16262;
}
.range--material__input::-ms-fill-upper {

  background-color: #F16262;
}


.range--material__input::-moz-range-thumb:after {

  background-color: #F16262;

}
.range--material__input::-webkit-slider-thumb:after {
  background-color: #F16262;
}

.button--material, .button--material--flat{
     background-color: #F16262;
}


.segment--material__button {
     background-color: #F16262;
}/*
.notification--material {
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  background-color: #e91e63;
  font-size: 16px;
  font-weight: 500;
}*/
.tabbar--material 
{
     background-color: #F16262;
    
}
.fab 
{
     background-color: #F16262;

}
.submit-fab {
    
     transform: scale(0.6) !important;
     margin:-5px;
     top:-10px;
    
}
.toolbar--material {

  background-color: #F16262;
}
.checkbox--material {
      color: rgba(38, 100, 171, .81);
}

.checkbox--material__checkmark:before {

  border: 2px solid #F1BCBC;
}
:checked + .checkbox--material__checkmark:before {
  background-color: #F16262;

}

:disabled + .checkbox--material__checkmark:before {
  border-color: #F19E9E;
}
:disabled:checked + .checkbox--material__checkmark:before {
  background-color: #F19E9E;
}
:checked + .radio-button--material__checkmark:before {
  background: transparent;
  border: 2px solid #F19595;
}
.radio-button--material__input + .radio-button__checkmark:after {
  background: #F19595;

}
:checked + .radio-button--material__checkmark:after {

  background: #F16262;

}

:disabled + .radio-button--material__checkmark:after {
  background-color: #F19595;
  border-color: #F19595;
}
:disabled + .radio-button--material__checkmark:before {
  border-color: #F19E9E;
}
.list-item--material__center {
  padding: 14px 6px 14px 0;
  border-color: #F1BCBC;
  border-bottom: none;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(bottom, #F1BCBC, #F1BCBC 100%);
  background-image: linear-gradient(0deg, #F1BCBC, #F1BCBC 100%);
  min-height: 48px;
}

.list-item--material__left:empty,.list-item--material__center 
{
    background-image: -webkit-linear-gradient(bottom, #F1BCBC, #F1BCBC 50%, transparent 50%);
    background-image: linear-gradient(0deg, #F1BCBC, #F1BCBC 50%, transparent 50%);
  }

.list-item--material__right {

  border-color: #F1BCBC;

  background-image: -webkit-linear-gradient(bottom, #F1BCBC, #F1BCBC 100%);
  background-image: linear-gradient(0deg, #F1BCBC, #F1BCBC 100%);
}
  .list-item--material__right {
    background-image: -webkit-linear-gradient(bottom, #F1BCBC, #F1BCBC 50%, transparent 50%);
    background-image: linear-gradient(0deg, #F1BCBC, #F1BCBC 50%, transparent 50%);
  }

.list-item--material.list-item--longdivider {
  border-bottom: 1px solid #F1BCBC;
 
  background-image: -webkit-linear-gradient(bottom, #F1BCBC, #F1BCBC 100%);
  background-image: linear-gradient(0deg, #F1BCBC, #F1BCBC 100%);
}
  .list-item--material.list-item--longdivider {
    background-image: -webkit-linear-gradient(bottom, #F1BCBC, #F1BCBC 50%, transparent 50%);
    background-image: linear-gradient(0deg, #F1BCBC, #F1BCBC 50%, transparent 50%);
  }
.list-header--material {
 
  color: #757575;

}
.list-header--material:not(:first-of-type) {
 
  background-image: -webkit-linear-gradient(top, #F1BCBC, #F1BCBC 100%);
  background-image: linear-gradient(180deg, #F1BCBC, #F1BCBC 100%);
}
  .list-header--material:not(:first-of-type) {
    background-image: -webkit-linear-gradient(top, #F1BCBC, #F1BCBC 50%, transparent 50%);
    background-image: linear-gradient(180deg, #F1BCBC, #F1BCBC 50%, transparent 50%);
  }
  
.list-title--material {

  color: #757575;

}
.list-item__icon {
    color: #F16262;
}

.search-input--material {

  background-color: #fafafa;

}
.text-input--material {
  color: #212121;
  background-image: -webkit-linear-gradient(bottom, transparent 1px, #F19E9E 1px);
  background-image: linear-gradient(to top, transparent 1px, #F19E9E 1px);

}
.text-input--material__label {

  color: #F19E9E;

}
.text-input--material__label--active {
  color: #F16262;

}
.text-input--material:focus {
  background-image: -webkit-linear-gradient(#F16262, #F16262),
    -webkit-linear-gradient(bottom, transparent 1px, #F19E9E 1px);
  background-image: linear-gradient(#F16262, #F16262),
    linear-gradient(to top, transparent 1px, #F19E9E 1px);

}
.text-input--material::-webkit-input-placeholder {
  color: #F19E9E;
}
.text-input--material::-moz-placeholder {
  color: #F19E9E;
}
.text-input--material:-ms-input-placeholder {
  color: #F19E9E;
}
.text-input--material::placeholder {
  color: #F19E9E;
}


.alert-dialog-content--material {
  color: #727272;
}
.alert-dialog-button--material {
  color: #F16262
}


.popover--material__content {
  background-color: #fafafa;
  color: #1f1f21;

}

.action-sheet-title--material {

  color: #686868;

}
.action-sheet-button--material {

  color: #686868;

}


.dd-speed-dial
{
    transform: scale(0.6);
    margin-bottom: -30px;
    margin-right: -7px;
}


.dhtmlxcalendar_dhx_terrace
{
   background-color: rgba(255,255,255, 0.8) !important;
   position:relative !important;
   margin: auto !important;
   display:table !important;
   border-radius:5px!important;
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus{
outline-width: 0px !important;
}
.checkbox--noborder__checkmark:after{
      border-color: #F16262 !important;
}















