.button--material--flat .ripple__wave, .button--material--flat .ripple__background{
  background: rgba(98,98,241 0.3);  /* #2a266a; rgba(42,38,106, 0.3); =>  #29294d rgba(41,41,77, 0.3); => #6262F1*/   
}
.switch--material__toggle {,
  background-color: #BCBCF1;    
}
.switch--material__handle {
  background-color: #9E9EF1;
}
:checked + .switch--material__toggle {
  background-color: #9595F1;    /*#843234*/  
}
:checked + .switch--material__toggle > .switch--material__handle {
  background-color:  #6262F1;
  
}
:checked + .switch--material__toggle > .switch--active__handle:before {
  box-shadow: 0 0 0 14px alpha(#6262F1, 0.2);
}
.range--material {
  background-image: -webkit-linear-gradient(#BCBCF1, #BCBCF1);
  background-image: linear-gradient(#BCBCF1, #BCBCF1);
}
.range--material__input {
  background-image: -webkit-linear-gradient(#6262F1, #6262F1);
  background-image: linear-gradient(#6262F1, #6262F1);
}

.range--material__input::-webkit-slider-thumb {

  background-image: -webkit-radial-gradient(circle cover, #6262F1 0%, #6262F1 6.6px, transparent 7.2px);
  background-image: radial-gradient(circle cover, #6262F1 0%, #6262F1 6.6px, transparent 7.2px);

}

.range--material__input::-moz-range-thumb,
.range--material__input:focus::-moz-range-thumb {
  background-image: -moz-radial-gradient(circle cover, #6262F1 0%, #6262F1 6.6px, transparent 7.2px);
}

.range--material__input::-ms-thumb {
  border-color: #6262F1;
  background-color: #6262F1;
}

.range--material__input::-ms-fill-lower {
  background-color: #6262F1;
}
.range--material__input::-ms-fill-upper {

  background-color: #6262F1;
}


.range--material__input::-moz-range-thumb:after {

  background-color: #6262F1;

}
.range--material__input::-webkit-slider-thumb:after {
  background-color: #6262F1;
}

.button--material, .button--material--flat{
     background-color: #6262F1;
}


.segment--material__button {
     background-color: #6262F1;
}/*
.notification--material {
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  background-color: #e91e63;
  font-size: 16px;
  font-weight: 500;
}*/
.tabbar--material 
{
     background-color: #6262F1;
    
}
.fab 
{
     background-color: #6262F1;

}
.submit-fab {
    
     transform: scale(0.6) !important;
     margin:-5px;
     top:-10px;
    
}
.toolbar--material {

  background-color: #6262F1;
}
.checkbox--material {
      color: rgba(38, 100, 171, .81);
}

.checkbox--material__checkmark:before {

  border: 2px solid #BCBCF1;
}
:checked + .checkbox--material__checkmark:before {
  background-color: #6262F1;

}

:disabled + .checkbox--material__checkmark:before {
  border-color: #9E9EF1;
}
:disabled:checked + .checkbox--material__checkmark:before {
  background-color: #9E9EF1;
}
:checked + .radio-button--material__checkmark:before {
  background: transparent;
  border: 2px solid #9595F1;
}
.radio-button--material__input + .radio-button__checkmark:after {
  background: #9595F1;

}
:checked + .radio-button--material__checkmark:after {

  background: #6262F1;

}

:disabled + .radio-button--material__checkmark:after {
  background-color: #9595F1;
  border-color: #9595F1;
}
:disabled + .radio-button--material__checkmark:before {
  border-color: #9E9EF1;
}
.list-item--material__center {
  padding: 14px 6px 14px 0;
  border-color: #BCBCF1;
  border-bottom: none;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(bottom, #BCBCF1, #BCBCF1 100%);
  background-image: linear-gradient(0deg, #BCBCF1, #BCBCF1 100%);
  min-height: 48px;
}

.list-item--material__left:empty,.list-item--material__center 
{
    background-image: -webkit-linear-gradient(bottom, #BCBCF1, #BCBCF1 50%, transparent 50%);
    background-image: linear-gradient(0deg, #BCBCF1, #BCBCF1 50%, transparent 50%);
  }

.list-item--material__right {

  border-color: #BCBCF1;

  background-image: -webkit-linear-gradient(bottom, #BCBCF1, #BCBCF1 100%);
  background-image: linear-gradient(0deg, #BCBCF1, #BCBCF1 100%);
}
  .list-item--material__right {
    background-image: -webkit-linear-gradient(bottom, #BCBCF1, #BCBCF1 50%, transparent 50%);
    background-image: linear-gradient(0deg, #BCBCF1, #BCBCF1 50%, transparent 50%);
  }

.list-item--material.list-item--longdivider {
  border-bottom: 1px solid #BCBCF1;
 
  background-image: -webkit-linear-gradient(bottom, #BCBCF1, #BCBCF1 100%);
  background-image: linear-gradient(0deg, #BCBCF1, #BCBCF1 100%);
}
  .list-item--material.list-item--longdivider {
    background-image: -webkit-linear-gradient(bottom, #BCBCF1, #BCBCF1 50%, transparent 50%);
    background-image: linear-gradient(0deg, #BCBCF1, #BCBCF1 50%, transparent 50%);
  }
.list-header--material {
 
  color: #757575;

}
.list-header--material:not(:first-of-type) {
 
  background-image: -webkit-linear-gradient(top, #BCBCF1, #BCBCF1 100%);
  background-image: linear-gradient(180deg, #BCBCF1, #BCBCF1 100%);
}
  .list-header--material:not(:first-of-type) {
    background-image: -webkit-linear-gradient(top, #BCBCF1, #BCBCF1 50%, transparent 50%);
    background-image: linear-gradient(180deg, #BCBCF1, #BCBCF1 50%, transparent 50%);
  }
  
.list-title--material {

  color: #757575;

}
.list-item__icon {
    color: #6262F1;
}

.search-input--material {

  background-color: #fafafa;

}
.text-input--material {
  color: #212121;
  background-image: -webkit-linear-gradient(bottom, transparent 1px, #9E9EF1 1px);
  background-image: linear-gradient(to top, transparent 1px, #9E9EF1 1px);

}
.text-input--material__label {

  color: #9E9EF1;

}
.text-input--material__label--active {
  color: #6262F1;

}
.text-input--material:focus {
  background-image: -webkit-linear-gradient(#6262F1, #6262F1),
    -webkit-linear-gradient(bottom, transparent 1px, #9E9EF1 1px);
  background-image: linear-gradient(#6262F1, #6262F1),
    linear-gradient(to top, transparent 1px, #9E9EF1 1px);

}
.text-input--material::-webkit-input-placeholder {
  color: #9E9EF1;
}
.text-input--material::-moz-placeholder {
  color: #9E9EF1;
}
.text-input--material:-ms-input-placeholder {
  color: #9E9EF1;
}
.text-input--material::placeholder {
  color: #9E9EF1;
}


.alert-dialog-content--material {
  color: #727272;
}
.alert-dialog-button--material {
  color: #6262F1
}


.popover--material__content {
  background-color: #fafafa;
  color: #1f1f21;

}

.action-sheet-title--material {

  color: #686868;

}
.action-sheet-button--material {

  color: #686868;

}


.dd-speed-dial
{
    transform: scale(0.6);
    margin-bottom: -30px;
    margin-right: -7px;
}


.dhtmlxcalendar_dhx_terrace
{
   background-color: rgba(255,255,255, 0.8) !important;
   position:relative !important;
   margin: auto !important;
   display:table !important;
   border-radius:5px!important;
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus{
outline-width: 0px !important;
}
.checkbox--noborder__checkmark:after{
      border-color: #6262F1 !important;
}















